.addcharge-box{
    width: 100%;
    padding-top: 100px;
    .header-save{
        i{
            margin-right: 6px;
        }
        color: #0AA4D7;
    }
    .addcharge-main{
        padding: 0 40px;
    }
}